{% extends "layout2.html" %}

{% block title %}Home Page{% endblock %}

{% block page %}IslandLife{% endblock %}

{% block content%}

<home>
     <div class ="content">
      <div class ="contentBx">
        <h2>About Us </br></h2>
        <p>Welcome to Island Life Fitness, the premier gym in the Caribbean! Our fitness center is dedicated to helping you achieve your health and fitness goals in a fun and supportive environment.

At Island Life Fitness, we understand that each individual has unique fitness needs and goals, which is why we offer a wide range of services and amenities to cater to all fitness levels. Our state-of-the-art facility is equipped with top-of-the-line cardio and strength training equipment, as well as a variety of group fitness classes led by certified instructors.

We believe that fitness should be an integral part of your lifestyle, which is why we offer personalized training and nutrition plans to help you achieve sustainable results. Our experienced trainers are dedicated to providing individualized attention and guidance, ensuring that you receive the support you need to achieve your fitness goals.</p>
      <a href="/signup"></a></div>
    
  </home>

{% endblock %}