{% extends "layout.html" %}
{% block title %}List of all Routines{% endblock %}
{% block page %}IslandLife{% endblock %}

{% block content %}
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Muscle</th>
          <th>Equipment</th>
          <th>Difficulty</th>
          <th>Instructions</th>
        </tr>
      </thead>
      <tbody>
        {% for exercise in exercises %}
          <tr>
            <td>{{ exercise['name'] }}</td>
            <td>{{ exercise['type'] }}</td>
            <td>{{ exercise['muscle'] }}</td>
            <td>{{ exercise['equipment'] }}</td>
            <td>{{ exercise['difficulty'] }}</td>
            <td>{{ exercise['instructions'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
