<!doctype html>
<html>
  <head>
 
    <link rel="stylesheet" href="../static/style.css">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
  </head>
 
    <body>
  <section6>
    <header>
      <a href="/" class="logo">{% block page %}IslandLife Fitness{% endblock %}</a>
      <ul class="navigation">
        <li><a href="/">Home</a</li>
        <li><a href="/about">About</a</li>
        <li><a href="/exercises">Exercise</a</li>
        <li><a href="/pricing">Pricing</a</li>
        <li><a href="/routines">Routine</a</li>
         <li><a href="/login">Log In</a></li>
      </ul>
    </header>
 
    <div class="container" id="content">{% block content %}{% endblock %}</div>
  </section6>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body> 
</html>
