{% extends "layout3.html" %}

{% block title %}Pricing Page{% endblock %}

{% block page %}IslandLife{% endblock %}

{% block content%}
<body>
	<div class="container">
    <a href="#"></a>
		<h2>Select Your Plan</h2>
		<div class="price-row">
			<div class="price-col">
				<p>Basic</p>
				<h3>50 TT <span>/month</span></h3>
				<ul>
					<li>Access to gym equipment during regular hours</li>
					<li>Use of locker room and showers</li>
					<li>Free Wi-Fi</li>
					<li>No commitment required</li>
				</ul>
				<button><a >Buy Now</button>
			</div>
			<div class="price-col">
				<p>Standard</p>
				<h3>100 TT <span>/month</span></h3>
				<ul>
					<li> Access to gym equipment during regular and extended hours</li>
					<li>Use of locker room, showers, and sauna</li>
					<li>Personalized workout plan and nutrition advice</li>
					<li>Option to bring a guest for free once a month</li>
				</ul>
				<button>Buy Now</button>
			</div>
			<div class="price-col">
				<p>Premium</p>
				<h3>150 TT <span>/month</span></h3>
				<ul>
					<li> Access to gym equipment during regular and extended hours</li>
					<li>Use of locker room, showers, sauna, and steam room</li>
					<li>Unlimited access to group fitness classes</li>
					<li>One free personal training session per month</li>
				</ul>
				<button>Buy Now</button>
     
			</div>
		</div>
	</div>
  
</body>

  {% endblock%}